# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml


# Notebooks checkpoints
.ipynb_checkpoints/


